obj
bin
packages
build
test_release

tools/FAKE
tools/ILRepack

.DS_Store
*.suo
*.DotSettings.user
*.csproj.user
*.userprefs

*.ncrunchproject
*.ncrunchsolution
*.ncrunchsolution.user

*.swp
TestResult.xml
TestResults.xml
